<section class="header-search">
    <app-user-search></app-user-search>  
</section>
<section class="user-details">
    <app-user-info [userinfo]="userinfo"></app-user-info>
</section>
<section class="repoList">
    <div class="repositoryLists flex flex-col">
        <ul class="flex flex-wrap">
            <li *ngFor="let repo of repolist | paginate: { itemsPerPage: 10, currentPage: p }">
                <app-repository-list [repolist]="repo"></app-repository-list>
            </li>
        </ul>
        <div class="pagein flex items-center justify-center h-16 my-20">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</section>
